#
# requirements to install on top of the base Nvidia Pytorch image, and the pyvista with VTK installed manually
#

# image rendering
pyvista
imageio

upsetplot # UpSet plots for multiple reported sympotms
relplot   # smECE computations

# general utilities
numpy
scipy
matplotlib
seaborn
tqdm
joblib # caching work steps
Plotly

# IO of normal formats
polars
xlsxwriter
pandas
openpyxl
fastexcel
pyarrow
datasets

# graph of snomed ontology
pydot
networkx

# the deep learning stuff for InternVL
transformers
einops
timm
accelerate>=0.26.0

# the base line model to compare with
xgboost
scikit-learn<1.6 # I dont rememeber why I need to pin at <1.6

# other deep learning stuff
lightning
tensorboard

# things for GNN training
torchmetrics
torch_geometric
torch-cluster