#
# requirements to install on top of the base Nvidia Pytorch image
#

# image rendering
pyvista
vtk>=9.5
imageio
pillow     # PIL image formats

#
upsetplot # UpSet plots for multiple reported sympotms
relplot   # smECE computations

# general utilities
numpy
scipy
matplotlib
seaborn
tqdm
joblib # caching work steps
Plotly

# IO of normal formats
polars
xlsxwriter
pandas
openpyxl
fastexcel
pyarrow
datasets   # huggingface datasets

# To integrate with the logistic regression outputs of Nicolas
arviz
patsy

# graph rendering
pydot
networkx

# Deep Learning
transformers
einops
timm
accelerate>=0.26.0 # InternVL needed this for some reason
lightning
tensorboard

# the base line model to compare with
xgboost
scikit-learn<1.6 # I dont rememeber why I need to pin at <1.6

# things for GNN training
torchmetrics
torch_geometric
torch-cluster